.product-list {

    padding: 2rem;
    display: flex;
    justify-content: center;
    }
    .product-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 1.5rem;
    max-width: 1200px;
    }
    .product-list li {
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s, box-shadow 0.3s;
    }
    .product-list li:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    .product-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    }
    .product-details {
    padding: 1.5rem;
    flex: 1;
    
    }
    .product-details h3 {
    margin-top: 0;
    font-size: 1.2rem;
    color: #333;
    }
    .add-to-cart {
    background-color: #d40000;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s, transform 0.3s;
    }
    .add-to-cart:hover {
    background-color: #eb094d;
    transform: scale(1.05);
    }
    .aform {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 6rem auto;
    animation: fadeIn 0.5s ease-out;
    text-align: center; 
    }
    .aform h2 {
    margin-top: 0;
    font-size: 1.8rem;
    color: #333;
    font-weight: 600;
    }
    .aform div {
    margin-bottom: 1.5rem;
    }
    
    .aform label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 1.2rem;
    }
    .aform input, .aform textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s;
    }
    form input:focus, form textarea:focus {
    border-color: #00bcd4;
    outline: none;
    }
    .aform button {
    background-color: #f60505;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    margin-top: 1rem; /* Space above the button */
    }
    .aform button:hover {
    background-color: #f80707;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  