   .booking-main{
    background-size: cover;
    
    background-repeat: no-repeat; 
    background-image: url(b1.jpg);
    width: 1920px;
    height:1000px;
    min-height: 100vh;
    padding: 20px 0 40px 0; 
    margin-top: 0;
    margin:0;
   }
    
    .bookform {
    background-color:whitesmoke;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    opacity: 95%;
    margin: 6rem auto;
    animation: fadeIn 0.5s ease-out;
    text-align: center; 
    }
    .bookform h2 {
    margin-top: 0;
    font-size: 1.8rem;
    color: #333;
    font-weight: 600;
    }
    .bookform div {
    margin-bottom: 1.5rem;
    }
    
    .bookform label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 1.2rem;
    gap: 10px;
    }
    .bookform input, .bookform textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s;
    }
    form input:focus, form textarea:focus {
    border-color: #00bcd4;
    outline: none;
    }
    .bookform button {
    background-color: #f60505;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    margin-top: 1rem; /* Space above the button */
    }
    .bookform button:hover {
    background-color: #f80707;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .bookform select {
        width: 100%;
        padding: 0.75rem;
        border: 1px solid #ddd;
        border-radius: 6px;
        font-size: 1rem;
        transition: border-color 0.3s;
        background-color: #ffffff; /* Optional: Change the background color */
    }
    
    .bookform select:focus {
        border-color: #00bcd4;
        outline: none;
    }
    
    .payment-method {
        margin-bottom: 1.5rem;
    }
    
    .payment-method label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: 500;
        font-size: 1.2rem;
        color: #333;
    }
    
    .payment-method select:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    .payment-method select:focus {
        border-color: #00bcd4;
        box-shadow: 0 0 8px rgba(0, 188, 212, 0.3);
    }
    
  