.navimain{
  padding: 10px 20;
  height: 1000px;
  width: 1920px;
}

.navibar {
  top: 0;
  left: 0px;
  padding: 10px;
  position: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color: black;
  box-sizing: border-box;
  z-index: 1000;
}

.navibar .logo {
  height: 50px;
  margin-left: 20px; 
}

.navibar .links {
  display: flex;
  
  align-items: center;
  margin-right: 20px; 
}

.navibar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 50px ;
}

.navibar a:first-child {
  margin-left: 10px; 
}
a:hover{

  background-color: rgb(254, 253, 253);
  color: rgb(9, 9, 9);
  border-radius: 25px;
  opacity: 90%;
}
